.tx-feediting-fluidtemplate-tt_content {
    position: relative;
}

.tx-feediting-fluidtemplate-tt_content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    border: 1px dotted #333;
    opacity: 0;
    transition: .2s;
}

.tx-feediting-fluidtemplate-tt_content:hover:after {
    opacity: 1;
}

.tx-feediting-fluidtemplate .popover-container{
    position: absolute;
    top: 0;
    left: 0;
}

.tx-feediting-fluidtemplate-pages:hover {
    outline: none;
    box-shadow: none;
}

.tx-feediting-panel {
    color: #333 !important;
    background-color: rgb(255, 135, 0);
    border-radius: 0 4px 4px 0;
    z-index: 3;
    position: absolute;
    left: 28px;
    top: 0;
    width: 192px;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: .3s;
}

.tx-feediting-fluidtemplate-tt_content:hover .tx-feediting-panel {
    opacity: 1;
}

.tx-feediting-panel a {
    text-decoration: none !important;
    display: initial !important;
    position: initial !important;
}

.tx-feediting-panel .tx-feediting-type {
    font-weight: bold;
    padding: 3px;
    color:white;
    font-size: 12px;
    text-align: center;
}

.tx-feediting-panel .tx-feediting-type span {
    font-style: italic;
}

.tx-feediting-panel .tx-feediting-actions {
    padding: 4px;
    height: 33px;
}

.tx-feediting-element {
    background-color:white;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    display: inline-block;
    margin-right: 2px;
}


.tx-feediting-element span {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.tx-feediting-element a:link,.tx-feediting-element a:visited {
    color: inherit;
    padding: 2px 3px 3px 5px;
    display:block !important;
    font-size: 12px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.tx-feediting-element a:hover,.tx-feediting-element a:active, .tx-feediting-element a:focus {
    color:rgb(255, 135, 0);
}

.tx-feediting-element:hover {

}

.icon-size-small svg {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    width: 16px;
}


.tx-feediting-dropdown {
    position: relative;
    display: inline-block;
}

.tx-feediting-dropdown > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.tx-feediting-dropdown > label,
.tx-feediting-dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: #333;
    line-height: 1.5em;
    text-decoration: none;
    border: 1px solid #8c8c8c;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tx-feediting-dropdown > label:hover,
.tx-feediting-dropdown > a[role="button"]:hover,
.tx-feediting-dropdown > a[role="button"]:focus {
    border-color: #333;
}

.tx-feediting-dropdown > label:after,
.tx-feediting-dropdown > a[role="button"]:after {
    content: "x";
    display: inline-block;
    margin-left: 6px;
}

.tx-feediting-dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
}

.tx-feediting-dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
}

.tx-feediting-dropdown > ul a:hover,
.tx-feediting-dropdown > ul a:focus {
    background: #ececec;
}

.tx-feediting-dropdown > input[type="checkbox"]:checked ~ ul,
.tx-feediting-dropdown > ul:target {
    left: 0;
}

.tx-feediting-dropdown > [type="checkbox"]:checked + label:after,
.tx-feediting-dropdown > ul:target ~ a:after {
    content: "\f0d8";
}

.tx-feediting-dropdown a.close {
    display: none;
}

.tx-feediting-dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-indent: -100vw;
    z-index: 1000;
}


/*@keyframes slide-top {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: translateY(-15%)*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*        transform: translateY(0)*/
/*    }*/
/*}*/

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(15%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slide-bottom {
    0% {
        opacity: 0;
        transform: translateY(15%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(-15%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.popover {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    min-width: 90vw;
    z-index:9999
}

.popover--top {
    margin-top: -16px;
    animation: .4s slide-top
}

.popover--top::before, .popover--top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top-color: #fff
}

.popover--top::before {
    margin-top: 1px;
    border-top-color: #6a6a6a
}

.popover--right {
    margin-left: 16px;
    animation: .4s slide-right
}

.popover--right::before, .popover--right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border: 8px solid transparent;
    border-right-color: #fff
}

.popover--right::before {
    margin-right: 1px;
    border-right-color: #6a6a6a
}

.popover--bottom {
    margin-top: 16px;
    animation: .4s slide-bottom
}

.popover--bottom::before, .popover--bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: rgb(255, 135, 0);
}

.popover--bottom::before {
    margin-bottom: 1px;
    border-bottom-color: rgb(255, 135, 0);
}

.popover--left {
    margin-left: -16px;
    animation: .4s slide-left
}

.popover--left::before, .popover--left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -8px;
    border: 8px solid transparent;
    border-left-color: #fff
}

.popover--left::before {
    margin-left: 1px;
    border-left-color: #6a6a6a
}

.feediting-popover-trigger {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0 auto;

    appearance: none;
    background-color: rgb(255, 135, 0);
    border: 1px solid rgb(255, 135, 0);

    border-radius: 0 0 4px 0;
    width:33px;
    height:33px;
    z-index: 2;
}

.feediting-popover-trigger img {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 5px;
    top: 6px;
}

.pages .feediting-popover-trigger {
    background-color: #0080c9;
    border: 1px solid #0080c9;
}

.pages.tx-feediting-panel {
    background-color: #0080c9;
}

.popover-container.pages {
    top: auto !important;
    bottom: 10px;
    transform: none;
    z-index: 9999;
}
